.form-div {
    width: 55%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 920px;
    vertical-align:bottom;
}

.input {
    padding-left: 1%;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 3%;
    width: 94%;
    height: 10%;   
    border: 1px solid rgb(219, 219, 219);
}

h3 {
    margin-left: 2%;
    margin-top: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #242315;
    font-size: 22px;
}

p {
    margin-left: 16%;
    margin-top: -2%;
    margin-bottom: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #242315;
    font-size: 15px;
    font-weight:800;
    font-style:inherit;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
}

textarea {
    margin-top: 2%;
    margin-left: 3%;
    height: 99%;
    width: 94%;
    border-radius: 3%;
    border: 1px solid rgb(219, 219, 219);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    border-radius: 4%;
    width: 80%;
    margin-top: 9%;
    margin-left: 12%;
    height: 80%;
}

.img-div {
    width: 55%;
    background-color: #eb977be7;
    display: flex;
    flex-direction: column;
    height: 975px;
    vertical-align:bottom;
}

.box {
    display: flex;
    flex-direction: row;
    height: 800px;
}

.spanh1 {
    text-decoration: underline 5px;
    text-underline-offset: 6px;
}

.divSenha {
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.input-senha {
    padding-left: 1%;
    margin-left: 1%;
    border-radius: 3%;
    width: 30%;
    height: 30px;   
    border: 1px solid rgb(219, 219, 219);

}

h1 {
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 4%;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #275642;
    font-size: 45px; 
   
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #275642;
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;

}

.button {
    margin-top: 2%;
    margin-left: 38%;
    background-color: #ef6789;
    border-radius: 6px;
    border: 1px solid rgb(219, 219, 219);
    color: white;
    padding: 9px 95px;
    height: 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer; 
}